//颜色定义规范
$color-background-l = #edf3fc
$color-background = #ffffff
$color-background-d = #fafafa
$color-highlight-bakcground = #333
$color-dialog-bakcground = #666
$color-theme = #4285f4
$color-theme-l = #3253f8
$color-theme-d = rgba(0,116,235,1)
$color-sub-theme = #6e1bf4
$color-text = #63a5eb
$color-text-d = #b5b5b5
$color-text-dd = #000000
$color-text-l = #0074eb
$color-text-ll = #3253f8
$color-text-xl = #ffffff
$color-gradient = linear-gradient(#4285f4,#3253f8);

$color-blue = #5f92f0
$color-orange = #f08e5f
$color-green = #6bf05f

//字体定义规范
$font = PingFang SC
$font-r = PingFang SC Regular
$font-size-small-s = 12px
$font-size-small = 14px
$font-size-medium = 16px
$font-size-medium-x = 18px
$font-size-large = 22px
$font-size-large-x = 32px

//图片定义规范
$pic-background = url('~assets/images/bg.jpg')
$pic-banner = url('~assets/images/banner_1.png')

//尺寸定义规范
$wrap-width = 86vw
$wrap-height = 80vh
$topnav-height = 110px
$sidebar-width = 250px
$border-radius-b = 15px
$border-radius-bb = 25px
$blur-height = 100px
$topnav-button-height = 50px
$sidebar-menu-height = 60px

//修饰规范
$border-d = 1px solid #d8d8d8
$border-l = 1px solid #f5f5f5

//间距规范
$padding = 75px
$margin-topnav = 35px
$margin-flow = 35px 